body{
    font-family: Arial;
    margin :0;
    display: flex;

}
.login-box{
    width: 300px;
    padding: 80px;
   padding: 20px;
   border: 1px solid gray;
   text-align: center;
}
.login-box input{
    width: 100%;
    margin: 80px;
    padding: 10px;

}
.login-box button{
    width: 100%;
    padding: 10px;
    
}
#sidebar input,
#sidebar select{
    width: 100%;
    margin: 6px 0;
    padding: 8px;
}
#sidebar button{
    width: 100%;
    padding: 10px;
    
}
#main{
    flex: 1;
    padding: 20px;
}
#navbar{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
#navbar select{
    padding: 8px;
}
.card{
    width: 30%;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
.card button{
    margin: 5px;
    padding: 6px 10px;
}