*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    height: 80vh;
    margin :0;

}
.login-box{
    width: 300px;
    margin: 80px auto;
    padding: 25px;
   border: 1px solid #ccc;
    background: #fff;
   border-radius: 6px;
}
.login-box input{
    width: 100%;
    margin: 10px;
    padding: 10px;
    margin-top: 10px;

}
.login-box button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
}
#sidebar{
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ddd;
    background: #fff;
    height: 100vh;
}
#sidebar input,
#sidebar select{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}
#sidebar button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    
}
#main{
    flex: 1;
    padding: 20px;
}
#navbar{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}
#navbar select,
#navbar button{
    padding: 10px;
}
#cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    padding-right: 20px;
}
.card{
    width: 30%;
    border: 1px solid #ddd;;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.card img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 12px;
}
.card button{
    width: 100%;
    margin-top: 8px;
    border: 1px solid #444;
    background: white;
    cursor: pointer;
    margin: 5px;
    padding: 6px 10px;
}
.card button:hover{
    background: #eee;
}